/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

/* Estilos para la sección de estadísticas */

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.stats__item {
  flex-basis: calc(33.3333% - 20px);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.stats__item--total-deposits {
  border-top: 5px solid #2185d0;
}

.stats__item--total-withdrawals {
  border-top: 5px solid #db2828;
}

.stats__item--total-rewards {
  border-top: 5px solid #21ba45;
}

.stats__item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.stats__item p {
  font-size: 16px;
}

/* Estilos para los formularios */

form {
  margin: 20px 0;
}

form input[type="number"] {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #2185d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form input[type="submit"]:hover {
  background-color: #1062a7;
}

/* Estilos para las tablas */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* Estilos para los botones */

.button {
  background-color: #2185d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button--primary {
  background-color: #2185d0;
}

.button--danger {
  background-color: #db2828;
}

.button--success {
  background-color: #21ba45;
}

.button:hover {
  background-color: #1062a7;
}

.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
